<app-calculenbremploye [nbrEmploye]="nbremploye" ></app-calculenbremploye>
<div class="form-group row"></div>
<div class="form-group row">
  <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">Search</label>
  <div class="col-sm-6">
    <input type="text" [(ngModel)]="searchValue" class="form-control" id="search">
  </div>
</div>
<table class="table table-striped">
    <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Nom</th>
    <th scope="col">Prenom</th>
    <th scope="col">Email</th>
    <th scope="col">N° Rue</th>
    <th scope="col">Rue</th>
    <th scope="col">Ville</th>
    <th scope="col">Code Postal</th>
    <th scope="col">Username</th>
    <th scope="col">Password</th>
    <th scope="col">Visibilité</th>
    <th scope="col">Action</th>
    <th scope="col"></th>
  </tr>
    </thead>
    <tbody *ngFor="let employe of employes | searchfilteremploye:searchValue">
    <tr>
      <td>{{employe.id}}</td>
      <td>{{employe.nom}}</td>
      <td>{{employe.prenom}}</td>
      <td>{{employe.email}}</td>
      <td>{{employe.adresse.numRue}}</td>
      <td>{{employe.adresse.rue}}</td>
      <td>{{employe.adresse.ville}}</td>
      <td>{{employe.adresse.codePostal}}</td>
      <td>{{employe.username}}</td>
      <td>{{employe.password}}</td>
      <td>{{employe.visibilite}}</td>
      <td><button class="btn btn-danger"[ngStyle]="{'background-color' : employe.visibilite===0 ? 'red' : 'green', 'border-radius': '10px'}" routerLink="/admin/visibiliteemploye/{{employe.id}}">Disable</button></td>
      <td><button class="btn btn-primary" [ngStyle]="{'border-radius': '10px'}" routerLink="/admin/updateemploye/{{employe.id}}">Modifier</button></td>
    </tr>
    </tbody>
  </table>








